@import "bootstrap";

table {
  border-width: 1 0 1px 0px;
  border-spacing: 0;
  border-collapse: collapse;
}

th {
  border: none;
  border-bottom: 1px solid #000;
}

tr:nth-child(even) {
  background-color: #33FF33;
}

td {
  text-align:center;
  margin: 0;
  padding: 2px;
  border-width: 1px 1px 0 1px;
}

.red {
  background: red;
  font-weight: bold;
}

.yellow {
  background: yellow;
  font-weight: bold;
}

